<div class="page-cont">
  <mat-toolbar>
    Weather App
  </mat-toolbar>
  <div class="card-container">

    <div *ngIf="(countries.length)>0">
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select matNativeControl required formControlName="countryControl" *ngIf="(countries.length)>0" [(value)]="selectedCountry" (selectionChange)="changeSelectedCountry()">
          <mat-option  *ngFor="let country of countries" [value]="country"
            >{{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="(countryCities.length)>0">
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select matNativeControl required formControlName="cityControl" *ngIf="(countryCities.length)>0" [(value)]="selectedCity"  (selectionChange)="changeSelectedCity()">
          <mat-option *ngFor="let city of countryCities" [value]="city">
            {{city}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="selectedCity ; else emptyCityComponent">
      <div *ngIf="(selectedCityWeather?.main?.temp )!== null">

        <mat-card class="example-card">
  
          <mat-card-title-group>
            <mat-card-title>Current Weather</mat-card-title>
            <mat-card-subtitle>{{selectedCityWeather.name + ',' +selectedCityWeather.sys?.country}}</mat-card-subtitle>
            <span>{{today}}</span>
          </mat-card-title-group>
  
          <mat-card-content>
            <div class="flex-row">
              <div class="temp">
                <span class="big-text">{{selectedCityWeather.main.temp | number:'0.0-0'}} C</span>
                <span>Feels like </span>
                <span>{{selectedCityWeather.main.feels_like | number: '0.0-0'}} C</span>
              </div>
              <div class="outlook">
                <span>{{selectedCityWeather.weather[0].description | titlecase}}</span>
                <img class="image" src="http://openweathermap.org/img/wn/{{selectedCityWeather.weather[0].icon}}@2x.png">
              </div>
            </div>
          </mat-card-content>
  
        </mat-card>
      </div>
    </div>
    <ng-template #emptyCityComponent>
      please choose country and city
    </ng-template>

  </div>
</div>
<router-outlet></router-outlet>